* {
  box-sizing: border-box;
}

.main-content {
  margin-left: 250px;

  width: calc(100% - 250px);

  min-height: 100vh;

  padding: 20px;

  background: #f5f6f8;

  transition:
    margin-left 0.3s ease,
    width 0.3s ease;
}


/* Sidebar collapsed */

.main-content.sidebar-collapsed {
  margin-left: 70px;

  width: calc(100% - 70px);
}